@page "/"
@namespace Askianoor.AdminPanel.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Askianoor Admin Panel</title>
    <base href="~/" />

    <link rel="stylesheet" href="_content/Radzen.Blazor/css/default.css">

    <link href="~/lib/quill/quill.core.min.css" rel="stylesheet" />
    <link href="~/lib/quill/quill.snow.min.css" rel="stylesheet" />
    <link href="~/lib/quill/quill.bubble.min.css" rel="stylesheet" />

    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link href="_content/Blazorise/blazorise.css" rel="stylesheet" />
    <link href="_content/Blazorise.Bootstrap/blazorise.bootstrap.css" rel="stylesheet" />
    @*<link href="_content/Blazored.Modal/blazored-modal.css" rel="stylesheet" />*@

    <link href="css/site.css" rel="stylesheet" />

</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="Server" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>

    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/tilt.jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    @*<script src="~/lib/popper.js/popper.min.js"></script>*@

    <script src="~/lib/quill/quill.min.js"></script>
    <script src="_content/Blazored.TextEditor/quill-blot-formatter.min.js"></script>
    <script src="_content/Blazored.TextEditor/Blazored-BlazorQuill.js"></script>

    <script src="_content/Blazorise/blazorise.js"></script>
    <script src="_content/Blazorise.Bootstrap/blazorise.bootstrap.js"></script>
    @*<script src="_content/Blazorise.Charts/blazorise.charts.js"></script>*@



    <script src="_framework/blazor.server.js"></script>

    <script>
        function TitlReady() {
            $('.js-tilt').tilt({ scale: 1.1 });
        }
    </script>

</body>
</html>
