@inherits LayoutComponentBase

<AuthorizeView>
    <Authorized>

        <div class="sidebar">
            <NavMenu />
        </div>

        <div class="main">
            @*<div class="top-row px-4">
                <a href="#" target="_blank">About</a>
            </div>*@

            <div class="content bg-light rounded p-3 m-2">
                @Body
            </div>
        </div>

    </Authorized>
    <NotAuthorized>
        <Askianoor.AdminPanel.Pages.RedirectToLogin></Askianoor.AdminPanel.Pages.RedirectToLogin>
    </NotAuthorized>
</AuthorizeView>