@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<AuthorizeView>
    <Authorized>

        <BlazoredToasts Position="ToastPosition.TopRight"
                        Timeout="10"
                        SuccessIconClass="fa fa-thumbs-up"
                        ErrorIconClass="fa fa-exclamation"
                        InfoIconClass="fa fa-info-circle"
                        WarningIconClass="fa fa-exclamation-triangle" />

        <div class="sidebar">
            <NavMenu />
        </div>

        <div class="main">
            <div class="content bg-light rounded p-3 m-2">
                @Body
            </div>
        </div>

    </Authorized>
    <NotAuthorized>
        <Askianoor.AdminPanel.Pages.RedirectToLogin></Askianoor.AdminPanel.Pages.RedirectToLogin>
    </NotAuthorized>
</AuthorizeView>